<%- contentFor('title')%>
Brisurs Zoo
<%- contentFor('content') %>
<!--Content-->
<!--Image-->
<img src="../img/acco/beautiful-luxury-outdoor-swimming-pool-hotel-resort.png" class="img-fluid" alt="Responsive image">

<div class="col-12 text-center mt-5">
    <h1 class="text-dark pt-4">Brisurs Paradise</h1>
      <div class="border-top border-primary w-25 mx-auto my-3"></div>
      <p class="lead">Introducing our accomodation located nearby Brisurs Zoo</p>
  </div>

<div class="col-md-12 my-2">
    <h1>&nbsp;</h1>
</div>

<div class="fixed-background small">

    <div class="row text-light">
      <div class="col-12 text-center">
        <h1 class="brag another">FACILITIES</h1>
      </div>
    </div>
    
      <div class="fixed-wrap">
        <div class="fixed facilities"></div>
      </div>
</div>

<div class="fxpad">
    <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight w-100">
            <img src="../img/acco/athletic-man-woman-with-dumbbells.jpg" class="w-100">
                      
        </div>
        <div class="p-2 flex-fill bd-highlight w-100">
            <img src="../img/acco/luxury-classic-modern-bedroom-suite-hotel.jpg" class="w-100">
                      
        </div>
      </div>
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight w-100">
            <img src="../img/acco/restaurant-interior.jpg" class="w-100">
            
        </div>
        <div class="p-2 flex-fill bd-highlight w-100">
            <img src="../img/acco/woman-enjoying-stone-massage.jpg" class="w-100">
        </div>
      </div>

</div>



<div class="fixed-background small">

    <div class="row text-light">
      <div class="col-12 text-center">
        <h1 class="brag another">OFFERS</h1>
      </div>
    </div>
    
      <div class="fixed-wrap">
        <div class="fixed facilities"></div>
      </div>
</div>

<div class="fxpad">
    <div class="d-flex bd-highlight text-center">
        <div class="p-2 flex-fill bd-highlight w-100">
            <img src="../img/acco/1606797820466.jpg" class="w-100">
                <p>&nbsp;</p>
            <h2>Book Now, Save More</h2>
            <P>Get up 20% when you book early</P>
        </div>
        <div class="p-2 flex-fill bd-highlight w-100">
            <img src="../img/acco/1606797838862.jpg" class="w-100">
            <p>&nbsp;</p>
            <h2>Extra Night on us</h2>
            <p>Stay other night at no extra cost</p>
        </div>
        <div class="p-2 flex-fill bd-highlight w-100">
            <img src="../img/acco/1606797853943.jpg" class="w-100">
            <p>&nbsp;</p>
            <h2>Best Picks</h2>
            <p>Complimentary and handpicked perks</p>
        </div>
      </div>
</div>

<div class="fixed-background small">
    <div class="row text-light">
      <div class="col-12 text-center">
        <h1 class="brag another">PRICE</h1>
      </div>
    </div>
      <div class="fixed-wrap">
        <div class="fixed facilities"></div>
      </div>
</div>

<div class="col-12 text-center mt-2">
    <h1 class="text-dark pt-4">Starting from Rp400.000 pax/night</h1>
    <h5 class="text-dark pt-4">Breakfast combo available</h5>
    <h3 class="text-dark pt-4">Contact us for more details</h3>
    <p>&nbsp;</p>
  </div>

<div class="fixed-background small">
    <div class="row text-light">
      <div class="col-12 text-center">
        <h1 class="brag another">CONTACT & RESERVATION</h1>
      </div>
    </div>
      <div class="fixed-wrap">
        <div class="fixed facilities"></div>
      </div>
</div>

<div class="col-md-12 my-6 text-center">
<div class="content">
      
    <div class="phone">
        <span class="fas fa-phone-alt fa-2x"></span>
        <span class="text contact accomodation">&nbsp;&nbsp;(+62) 987654312</span>
    </div>
      
    <div class="email">
        <a href="brisursparadisehotel@example.mail.com" style="text-decoration:none;">
        <span class="fas fa-envelope fa-2x"></span>
        <span class="text contact accomodation">&nbsp;&nbsp;brisursparadisehotel@example.mail.com</span>
        </a>
    </div>
</div>
</div>

<!--Blank-->
<div class="col-md-12 my-1">
    <p>&nbsp;</p>
</div>