<%- contentFor('title') %>
Brisurs Zoo
<%- contentFor('content') %>
<!--Title-->
<div class="row my-5">
    <div class="col-md-1 my-1"></div>
    <div class="col-md-10 my-1 text-center">
      <h1 class="text-dark pt-4">Brisurs Map</h1>
      <div class="border-top border-primary w-50 mx-auto my-3"></div>
      <p class="lead">Last updated on 5th November 2020</p>
     
      <img src="../img/generic/map_bri.png" width="900px" height="740px" usemap="#workmap" class="mw-100"  >
      <map name="workmap">
        <area shape="circle" coords="568px,538px,45"  href="/animals_detail/0" title="Rhino">
        <area shape="circle" coords="730px,315px,45"  href="/animals_detail/1" title="Elephant"> 
        <area shape="circle" coords="560px,330px,45"  href="/animals_detail/2" title="Tiger"> 
        <area shape="circle" coords="293px,453px,55"  href="/animals_detail/3" title="Giraffe"> 
        <area shape="circle" coords="532px,152px,45"  href="/animals_detail/4" title="Giant Panda"> 
        <area shape="circle" coords="764px,99px,45"  href="/animals_detail/5" title="Penguin">
        <area shape="circle" coords="305px,215px,45"  href="/animals_detail/6" title="Gorilla"> 
        <area shape="circle" coords="476px,480px,45"  href="/animals_detail/7" title="Proboscis Monkey">
        <area shape="circle" coords="672px,450px,45"  href="/animals_detail/8" title="Tapir"> 
        <area shape="circle" coords="653px,200px,45"  href="/animals_detail/9" title="Horse"> 
        <area shape="circle" coords="208px,100px,45"  href="/animals_detail/10" title="Owl">
        <area shape="circle" coords="406px,391px,45"  href="/animals_detail/11" title="White Tiger">
        <area shape="circle" coords="65px,464px,45"  href="/animals_detail/12" title="Brown Bear"> 
        <area shape="circle" coords="145px,236px,45"  href="/animals_detail/13" title="Red Panda"> 
      </map>
    </div>
    <div class="col-md-12 my-1 text-center">
    <a href="../img/generic/map_bri.png" download="BrisursMap" class="btn btn-outline-dark btn-md" target="_blank">Download Map</a>
    </div>
  </div>