<%- contentFor('title')%>
Brisurs Zoo
<%- contentFor('content') %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center border-success">
        <img src="/img/logo/icon_long.png">
        <p>Login to continue</p>
        <a href="/login" class="btn btn-secondary btn-block">Login</a>
        <a href="/register" class="btn btn-primary btn-block mb-2">Register</a>
        
      </div>
    </div>
  </div>

  
  <!--Blank-->
  <div class="col-md-12 my-1">
    <p>&nbsp;</p>
</div>